%html
	%head
		%title rootz
		%link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/bootstrap.min.css'}
		%link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/bootstrap-theme.min.css'}
		%link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/style.css'}
		%link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/rouge.css'}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0"}

	%body
		.container
			.logo
				.title 
					Rootz
			.rootz
				%strong= env['sinatra.error'].message
			.footer
				powered by 
				%a{:href => "/"} rootz